body {
    margin: 0;
}

.text-link {
    text-decoration: none;
}

.firework-link {
    position: fixed;
    bottom: 30%;
    left: 50%;
}

.firework-background {
    justify-content: center;
    color: #fff;
    background-color: #070816;
    height: 100%;
    width: 100%;
}

.canvas {
    background: #fff;
    transform: matrix(0.64, 0, 0, 0.64, 0, 0);
}

.canvasWrap {
    display: flex;
    justify-content: center;
}
