body {
    margin: 0;
}

.text-link {
    text-decoration: none;
}

.firework-link {
    position: fixed;
    bottom: 30%;
    left: 50%;
}

.firework-background {
    background-color: #070816;
    height: 100vh;
}
