body {
    margin: 0;
}

.text-link {
    text-decoration: none;
}

.firework-link {
    position: fixed;
    bottom: 30%;
    left: 50%;
}

.firework-wrap {
    background-image: url("/src/images/ocean.jpg");
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.firework {
    height: 73%;
    width: 100%;
}
